PORT=3000
SESSION_SECRET=vervang-dit
ADMIN_USERNAME=admin
ADMIN_PASSWORD=vervang-dit-admin-wachtwoord
EDITOR_USERNAME=neef
EDITOR_PASSWORD=vervang-dit-editor-wachtwoord
PUBLIC_PHONE=0612345678
PUBLIC_WHATSAPP=31612345678
PUBLIC_EMAIL=info@jouwdomein.nl
